

<% if @user.id == session[:user_id].to_i %>
   <h1>Hello,  <%= @user.name %></h1>
   <h3>Email: <%= @user.email %></h3>
   <h3>Password: [HIDDEN]<%= @user.password %> <%= link_to 'Change Password', "/users/change_password/#{@user.id}" , :class=>"btn btn-default btn-sm"%> </h3>
<% end %>


<p>
  <h3>Attentions: </h3>
  <% if @user.heroes.present? %>
    <% @user.heroes.each do |hero| %>
      <%= link_to hero.name, "/heroes/#{hero.id}" %>
      <h5><%= link_to 'Remove from Favorite', "/attentions/#{hero.id}/delete" %></h5>
    <% end %>
  <% else %>
    <h6>  No favorite book. Please go to <%= link_to 'Heroes', '/heroes' %> to add some:) </h6>
  <% end %>
</p>

