<h1><%= @affiliations.tag%></h1>
<%= form_tag "/affiliations/#{@affiliations.id}", :method => 'patch' do %> 

<% @affiliations.heroes.each do |hero| %>
	<li><h5><%= hero.name %> <%= link_to 'Delete', "/affiliations/#{hero.name}", :method => 'delete' %> </h5></li>

<% end %>

    <div>
   		<%= label_tag 'Members: ' %>
   		<%= select_tag 'hero_id', options_from_collection_for_select(@single.heroes, "id", "name") %>
  	</div>

  <%= submit_tag 'Update' %>
<% end %>