
<p><%= link_to 'Add A New SuperMan', '/heroes/new' %></p>

<div class="row">
  <% @heroes.each do |hero| %>
  <div class="col-xs-6 col-md-3">
     <span class="label label-default"><%= link_to 'Edit', "/heroes/#{hero.id}/edit",  {style: "color: white"} %></span>
     <span class="label label-danger"><%= link_to 'Delete', "/heroes/#{hero.id}", style: "color: white" ,:method => 'delete' %></span>
    <%= link_to hero_url(hero.id) do %>
    <%=image_tag hero.photo_url, :class=>"thumbnail" ,height: '250', width: '250'%>
    <%end%>
  </div>
  <% end %>
</div>
