<h2><%= @hero.name %></h2>
<br>
<div>
    <%= image_tag @hero.photo_url %>
    <h4>Realname: <%= @hero.realname%></h4>
    <br>
    <p>Powers:<%= @hero.powers %></p>
    <br>
    <p>Abilities:<%= @hero.abilities %></p>
</div>
